<footer class="footer">
  <div class="footer-container">
    <div class="footer-team">
      <h4>Equipo de desarrollo</h4>

      <div class="team-grid">
        <a href="https://github.com/kavila-code" target="_blank" class="team-card" rel="noreferrer">
          <img src="../../../assets/Kelly-Vanesa-Avila.jpg" class="avatar" alt="Kelly Vanesa Avila Perez">
          <div class="info">
            <span class="name">Kelly Vanesa Avila Perez</span>
            <span class="role">Scrum Master</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/Juanfgordillo" target="_blank" class="team-card" rel="noreferrer">
          <img src="../../../assets/Juan-Felipe-Gordillo.jpg" class="avatar" alt="Juan Felipe Gordillo">
          <div class="info">
            <span class="name">Juan Felipe Gordillo</span>
            <span class="role">Frontend / Backend</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/devoid96" target="_blank" class="team-card" rel="noreferrer">
          <img src="../../../assets/Juan-Fernando-Ramirez.jpg" class="avatar" alt="Juan Fernando Ramirez Delgado">
          <div class="info">
            <span class="name">Juan Fernando Ramirez Delgado</span>
            <span class="role">Frontend / Backend</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/juansalazar10" target="_blank" class="team-card" rel="noreferrer">
          <img src="../../../assets/Juan-David-Salazar.jpg" class="avatar" alt="Juan David Salazar Riascos">
          <div class="info">
            <span class="name">Juan David Salazar Riascos</span>
            <span class="role">UI / UX / QA</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/velez-017" target="_blank" class="team-card" rel="noreferrer">
          <img src="../../../assets/Jhon-Edinson-Velez.jpg" class="avatar" alt="Jhon Edinson Velez Ceron">
          <div class="info">
            <span class="name">Jhon Edinson Velez Ceron</span>
            <span class="role">Frontend / QA</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>
      </div>
    </div>

    <div class="footer-layout">
      <div class="footer-brand">
        <h3>TechPlanner</h3>
        <p>© 2026 TechPlanner. Infraestructura para empresas.</p>
      </div>

      <div class="footer-links">
        <a routerLink="/">Inicio</a>
        <a routerLink="/nosotros">Nosotros</a>
        <a routerLink="/registro">Registro</a>
        <a routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</footer>
