<div class="page">

  <a class="page-back-button" href="/inicio">
    ← Volver
  </a>

  <div class="card">

    <div class="header">
      <h1>Registro de Componentes</h1>
      <p>Listado de componentes disponibles en component-service</p>
    </div>

    <h2 class="mb-4">
      Componentes
    </h2>

    <div class="card shadow-sm">

      <div class="card-header bg-primary text-white">
        <strong>Lista de Componentes</strong>
      </div>

      <ul class="list-group list-group-flush">

        <li
          *ngFor="let item of componentes"
          class="list-group-item">

          <div class="d-flex justify-content-between align-items-center">

            <div>

              <strong>{{ item.brand }}</strong>

              <br>

              Modelo:
              {{ item.model }}

              <br>

              Precio:
              $ {{ item.price | number }}

            </div>

          </div>

        </li>

      </ul>

      <div
        *ngIf="componentes.length === 0"
        class="card-body text-center text-muted">

        No hay componentes registrados.

      </div>

    </div>

    <p class="mt-3">
      Total de componentes cargados:
      {{ componentes.length }}
    </p>

  </div>

</div>
