.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  text-align: center;
  border: 10px;
}

.stats h2 {
  font-size: 28px;
}

.stats span {
  font-size: 12px;
  color: #9ca3af;
}

