<aside class="sidebar">

  <!-- LOGO -->
  <div class="logo">

    <div class="logo-icon">
      TP
    </div>

    <div>
      <h2>TechPlanner</h2>
      <span>Enterprise Suite</span>
    </div>

  </div>

  <button type="button" class="back-button" (click)="regresar()">
    ← Volver
  </button>

  <!-- MENU -->
  <nav class="menu">

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      <span>📊</span>
      Dashboard
    </a>

    <a
      routerLink="/clientes"
      routerLinkActive="active"
    >
      <span>👥</span>
      Clientes
    </a>

    <a
      routerLink="/cotizaciones"
      routerLinkActive="active"
    >
      <span>📄</span>
      Cotizaciones
    </a>

    <a
      routerLink="/registro-componente"
      routerLinkActive="active"
    >
      <span>🖥</span>
      Componentes
    </a>

    <a
      routerLink="/analytics"
      routerLinkActive="active"
    >
      <span>📈</span>
      Analytics
    </a>

    <a>
      <span>⚙</span>
      Configuración
    </a>

  </nav>

  <!-- FOOTER -->
  <div class="sidebar-footer">

    <div class="user">

      <div class="avatar">
        JV
      </div>

      <div>
        <h4>Jhon Velez</h4>
        <span>Administrador</span>
      </div>

    </div>

  </div>

</aside>
